<div id="home"
     class="mx-4 py-6 px-4 md:mx-12 md:py-12 md:px-8">
    <p class="text-myColour2 xl:text-lg lg:text-md md:text-lg text-md">Hii, my name is</p>
    <p class="xl:text-8xl lg:text-7xl md:text-8xl font-semibold text-white opacity-90 text-4xl">
        <span id="typed"></span>
      </p>
    <p class="lg:text-5xl md:text-6xl font-semibold text-gray-400">I build things for the web.</p>
    <p class="mt-4 xl:text-xl lg:text-lg md:text-3xl text-justify text-cyan-100">
        With a focus on both front-end and back-end technologies, I create user-friendly and visually appealing
        websites. Explore my portfolio to see how I blend innovation with functionality. Let's bring your digital
        ideas to life!
    </p>
    <p
        class="mt-8 xl:p-4 p-2 xl:text-xl md:text-3xl lg:text-lg text-myColour2 hover:text-myColour hover:bg-myColour2 px-8 rounded-xl border border-myColour2 w-fit">
        <a target="_blank" href="https://www.linkedin.com/in/nirmal-shah-3208321a0"><em class="bi bi-linkedin "></em> Checkout my
            profile !</a>
    </p>
</div>
