<div id="aboutMe" class="p-12">

  <div class="flex justify-center py-4">
    <p class="text-slate-300 font-bold text-4xl"> <span class="text-myColour2 text-4xl">01</span> About Me </p>
    <hr class="bg-white bg-opacity-20 w-80 ml-4 my-6">
  </div>

  <div class="flex flex-col-reverse lg:flex-row-reverse justify-center items-center lg:mt-2">
    <div class="py-8">
      <p class="text-slate-300 text-lg md:text-xl lg:text-md text-justify">
        Hello! My name is Nirmal and I am Proactive and quick learner completed Bachelor of
        Engineering degree in Computer Science from Gujarat
        Technological University in May'23. Collaborative, team
        player who strongly believes that the goal must be
        achieved before deadline. Passionate about exploring new
        places and strongly interested in working in calm and inspiring
        environment.
      </p>
      <p class="text-slate-300 text-lg lg:text-md md:text-xl text-justify mt-6">
        Here are a few technologies I’ve been working with recently:
      </p>
      <ul class=" md:columns-2 list-disc text-myColour2 px-8 md:px-16 mt-4 lg:text-md">
        <li>Angular JS</li>
        <li>React JS</li>
        <li>Tailwind CSS</li>
        <li>Node</li>
        <li>.NET core</li>
        <li>Cloud</li>
      </ul>
    </div>
    <div class="flex justify-center w-full ">
      <img src="https://tse4.mm.bing.net/th/id/OIP.b6dNT1MH468Edsx8Tvj1zQD6D6?pid=ImgDet&w=202&h=202&c=7"
        alt="Profile image" class="rounded-full h-52 md:h-52 md:w-52">
    </div>
  </div>

  

</div>
