<p class="text-slate-300 font-bold text-2xl lg:text-3xl w-screen text-center"> <span
  class="text-myColour2   text-xl">03.</span>
Where I've Worked. </p>


<div class="text-white p-8">
    <div class="max-w-4xl mx-auto">
      <div class="flex space-x-6">
        <div class="flex-shrink-0">
          <div class="w-14 h-14 bg-blue-500 rounded-full flex items-center justify-center">
            <span class="text-white font-semibold text-xl">1</span>
          </div>
        </div>
        <div class="flex-grow border-l-4 border-blue-500 pl-4">
          <h3 class="text-xl font-semibold mb-2">Trainee Software Engineer</h3>
          <p class="text-gray-400">Radixweb Software Services Pvt Ltd.</p>
          <p class="text-gray-500 text-sm mt-2">0.5 Yr <span class=" text-neutral-200"> [Feb 2023 - Jul 2023]  </span> </p>
        </div>
        <div class="hidden md:block md:flex-shrink-0">
            <img src="https://res.cloudinary.com/movie-booking-site/image/upload/v1692189295/Portfolio/radix_rdrrmh.png" class=" h-24 w-24" alt="">

        </div>
      </div>
    </div>
  </div> 


  <div class="text-white p-8">
    <div class="max-w-4xl mx-auto">
      <div class="flex space-x-6">
        <div class=" hidden md:block md:flex-grow">
            <img src="https://res.cloudinary.com/movie-booking-site/image/upload/v1692188672/Portfolio/gdsc_ure3s2.png" class="h-24 w-24" alt="">

        </div>
        <div class="flex-shrink-0 md:flex-grow " style="margin: 0;">
          <div class="w-14 h-14 bg-blue-500 rounded-full flex items-center justify-center md:ms-auto">
            <span class="text-white font-semibold text-xl">2</span>
          </div>
        </div>
        <div class="md:flex-shrink-0 flex-grow border-l-4 border-blue-500 pl-4">
          <h3 class="text-xl font-semibold mb-2">Technical Team Member</h3>
          <p class="text-gray-400">Google Development Student Club, GEC Patan</p>
          <p class="text-gray-500 text-sm mt-2">0.5 Yr <span class=" text-neutral-200"> [Jun 2022 - Jan 2023]  </span> </p>
        </div>

      </div>
    </div>
  </div> 



  <div class="text-white p-8">
    <div class="max-w-4xl mx-auto">
      <div class="flex space-x-6">
        <div class="flex-shrink-0">
          <div class="w-14 h-14 bg-blue-500 rounded-full flex items-center justify-center">
            <span class="text-white font-semibold text-xl">3</span>
          </div>
        </div>
        <div class="flex-grow border-l-4 border-blue-500 pl-4">
            <h3 class="text-xl font-semibold mb-2">Web Development Intern </h3>
                <p class="text-gray-400">Lets Grow More Foundation </p>
                <p class="text-gray-500 text-sm mt-2">0.5 Months <span class=" text-neutral-200"> [June 2023]  </span> </p>
        </div>
        <div class=" hidden md:block md:flex-shrink-0">
            <img src="https://res.cloudinary.com/movie-booking-site/image/upload/v1692188981/Portfolio/lgm_wrkwtl.jpg" class=" h-24 w-24" alt="">

        </div>
      </div>
    </div>
  </div> 