<div #scrollContainer class="h-screen px-12 py-24 lg:py-48 md:py-72">
    <p class="text-slate-300 mb-12   font-bold lg:text-4xl md:text-5xl text-center "> <span
        class="text-myColour2 lg:text-xl md:text-xl md:text block">04
        What's Next</span> Get in Touch </p>
    <hr class="bg-white mx-56 my-8">
    <p class=" md:px-32 lg:px-64 xl:px-56 lg:text-lg text-white  text-justify md:text-2xl">Although I’m not currently
      looking for any new
      opportunities, my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to
      get back to you!</p>
    <p class="px-16 md:px-64 xl:px-56 text-lg   text-center my-8"><a href="https://wa.me/9374627351?text=Hello"
        class="text-myColour2   text-xl border border-myColour2 md:px-4 lg:px-4 p-1 rounded-md hover:text-myColour hover:bg-myColour2">Say
        Hello</a></p>
      </div>
      <p #content id="designed" class="text-slate-300 text-sm text-center mb-8"> Built & Designed by Nirmal Shah</p>

  