<div class="bg-myColour relative overflow-x-hidden font-display h-screen">
  <!-- <app-navbar></app-navbar> -->
  <app-nvbr></app-nvbr>
  <router-outlet></router-outlet>


    <!-- left bottom corner icons  -->

    <ul class="fixed text-white bottom-6 left-4">
      <li class="md:mt-4"><a target="_blank" href="https://www.github.com/nirmalshah20519" target="_blank" class="bi bi-github hover:text-neutral-400"></a></li>
      <li class="md:mt-4"><a target="_blank" href="https://www.instagram.com/__nirmal_d_shah__/" class="bi bi-instagram hover:text-pink-500 hover:shadow-lg"></a></li>
      <li class="md:mt-4"><a target="_blank" href="https://www.linkedin.com/in/nirmal-shah-3208321a0" class="bi bi-linkedin hover:text-blue-500"></a></li>
    </ul>


    <!-- right bottom corner mail  -->

  <div class="fixed text-white bottom-0 -right-36 rotate-90 -translate-y-44 ">
    <div class="flex gap-1">
      <a href="mailto:nirmalshah20519@gmail.com">
        nirmalshah20519@gmail.com
      </a>
      <p>
        <hr class="w-24 bg-white my-3">
    </div>

  </div>
</div>